<%= form_for list, :html => { :class => "ce", :id => "ce" } do |f| %>
  <%= f.hidden_field 'id', :value => :id %>
  <div class="memo">
    <%= f.text_area :memo, :id => list.id, :placeholder => "leave a memo", :rows => 3, :cols => 15 %>
  </div>
  <div id="submit">
    <%= f.submit "Create", class:"btn btn-default btn-sm btn-success" if !list.memo || list.memo == '' %>

    <div class="btn btn-group editDelete">
      <%= f.submit "Edit", class:"btn btn-default btn-sm btn-info" if list.memo && list.memo != '' %>
<% end %>


<%= button_to "Delete", delete_memo_path(list.id), method: :post, id:"click", class:"btn btn-default btn-sm btn-danger" if list.memo && list.memo != '' %> 

</div>
