<td id="brand_name"><%= link_to list.sample_sale.brand, list_sample_sale_path(list, list.sample_sale)%></td>
<td id="about"><%= link_to list.sample_sale.about, list_sample_sale_path(list, list.sample_sale)%></td>
<td id="dates"><%= link_to list.sample_sale.dates, list_sample_sale_path(list, list.sample_sale)%></td>
<td id="hours"><%= link_to list.sample_sale.hours, list_sample_sale_path(list, list.sample_sale)%></td>
<td id="address"><%= link_to list.sample_sale.address, list_sample_sale_path(list, list.sample_sale)%></td>